<div >
  <h2 class="text-blue-dark">Países</h2>
  <hr>
  <ul class="list-group shadow-sm" >
<!--

    <li [routerLink]="['/home']" [routerLinkActive]="['active']" class="list-group-item">
      Home page
    </li>
    <li [routerLink]="['/about']" [routerLinkActive]="['active']" class="list-group-item">
      About Page
    </li>
    <li [routerLink]="['/contact']" [routerLinkActive]="['active']" class="list-group-item">
      Contact Page
    </li>-->
    <li [routerLink]="['/countries/by-capital']" [routerLinkActive]="['active']" class="list-group-item pointer">
      Por capital
    </li>
    <li [routerLink]="['/countries/by-country']" [routerLinkActive]="['active']" class="list-group-item pointer">
      Por país
    </li>
    <li [routerLink]="['/countries/by-region']" [routerLinkActive]="['active']" class="list-group-item pointer">
      Por región
    </li>
  </ul>

</div>
