<ng-template #alert>
  <div class="alert alert-info text-center">
    Espere por favor
  </div>
</ng-template>

<div class="row" *ngIf="country; else alert">
  <div class="col-12">
    <H2>País: <strong>{{ country.name.common}}</strong> </H2>
    <hr>
  </div>
  <div class="row col-md-12">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
    </div>
    <div class="col-6">
      <h3>Informaición</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población:</strong> {{ country.population | number}}
        </li>
        <li class="list-group-item">
          <strong>Código:</strong> {{ country.cca3 }}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row mt-2">
      <div class="col">
        <div class="d-flex flex-wrap">
          <span class="badge bg-primary m-1">{{ country.translations['ara'].common ? country.translations['ara'].common : ''   }}</span>
          <span class="badge bg-primary m-1">{{ country.translations['bre'].common ? country.translations['bre'].common : ''   }}</span>
          <span class="badge bg-primary m-1">{{ country.translations['ces'].common ? country.translations['ces'].common : ''   }}</span>
          <span class="badge bg-primary m-1">{{ country.translations['cym'].common ? country.translations['cym'].common : ''   }}</span>
          <span class="badge bg-primary m-1">{{ country.translations['deu'].common ? country.translations['deu'].common : ''   }}</span>
          <span class="badge bg-primary m-1">{{ country.translations['est'].common ? country.translations['est'].common : ''   }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
