<ng-template #alert>
  <div class="alert alert-info text-center">
    Espere por favor
  </div>
</ng-template>

<div class="row" *ngIf="country; else alert">
  <div class="col-12">
    <H2 class="text-blue-dark">País: <strong>{{ country.name.common}}</strong> </H2>
    <hr>
  </div>
  <div class="row col-md-12  card-jav shadow-sm">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
    </div>
    <div class="col-8">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item item-list">
          <strong>Población:</strong> {{ country.population | number}}
        </li>
        <li class="list-group-item item-list">
          <strong>Código:</strong> {{ country.cca3 }}
        </li>
        <li class="list-group-item item-list">
          <strong>Región:</strong> {{ country.region }}
        </li>
        <li class="list-group-item item-list">
          <strong>Lenguaje:</strong>  {{lenguaje}}
        </li>
        <li class="list-group-item item-list">
          <strong>Moneda:</strong>  {{ currencie.name}}
        </li>
        <li class="list-group-item item-list">
          <strong>Simbolo:</strong>  {{ currencie.symbol}}
        </li>
        <li  class="list-group-item item-list">
          <strong>Timezones:</strong> {{ country.timezones[0] }}
        </li>
        <li  class="list-group-item item-list">
          <strong>Fecha y hora:</strong>  {{ customDate | nowTimeZone : country.timezones[0] }}

        </li>
        <li  class="list-group-item item-list">
          <strong>Area:</strong> {{ country.area | number }}
        </li>
        <li class="list-group-item item-list">
          <strong>Capital:</strong>  {{ country.capital }} <b> lat </b>{{ country.capitalInfo.latlng  | json}}
        </li>
        <li  class="list-group-item item-list">
          <strong>Lat:</strong> {{ country.latlng |json }}
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <br>
      <div class="text-center mt-4">
        <b>Traducciones</b>
      </div>
      <div class="row mt-2 ">
        <div class="col">
          <div class="d-flex flex-wrap ">
            <span class="badge bg-primary m-1">{{ country.translations['ara'].common ?
              country.translations['ara'].common : '' }}</span>
            <span class="badge bg-primary m-1">{{ country.translations['bre'].common ?
              country.translations['bre'].common : '' }}</span>
            <span class="badge bg-primary m-1">{{ country.translations['ces'].common ?
              country.translations['ces'].common : '' }}</span>
            <span class="badge bg-primary m-1">{{ country.translations['cym'].common ?
              country.translations['cym'].common : '' }}</span>
            <span class="badge bg-primary m-1">{{ country.translations['deu'].common ?
              country.translations['deu'].common : '' }}</span>
            <span class="badge bg-primary m-1">{{ country.translations['est'].common ?
              country.translations['est'].common : '' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
